# Server Configuration
PORT=5000
NODE_ENV=development
SERVER_URL=http://localhost:3000

# Database
MONGODB_URI=mongodb+srv://danielidoko:%40%40%40Subdb1107@subdb.bctxt43.mongodb.net/?appName=subdb

# JWT Configuration
JWT_SECRET=efg3wgfi2gigf3bfg83gifi2gf82h0fj0h2f25f3f3ufg3fh9fh3ifg39fg93fg9fg29hifh9
JWT_REFRESH_SECRET=iehf9eh9hc38g3n9ch93hchgc82g9cg29gf2hfg92gch21gc82gc8g2
JWT_EXPIRES_IN=24h
JWT_REFRESH_EXPIRES_IN=7d

# CORS
CORS_ORIGIN=http://localhost:5173

# Notifications (optional)
ENABLE_EMAIL_NOTIFICATIONS=false
EMAIL_FROM=danielidoko46@gmail.com

# Rate Limiting
ENABLE_RATE_LIMITING=true
RATE_LIMIT_WINDOW_MS=900000
RATE_LIMIT_MAX_REQUESTS=100
